body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.stockPriceCard__tableRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.stockPriceCard__tableRow:last-child {
  border-bottom: none;
}
.stockPriceCard .stockPriceCard__tableCell {
  padding: 6px 0;
}
.sideBarItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sideBarItem:last-child {
  border-bottom: none;
}

#searchBar__form {
  width: 0;
  transition: width 0.2s ease-in-out;
}
#searchBar__form.focused {
  width: 100%;
}
